@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700);

svg {
  font: 14px 'Open Sans';
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #000;
}

.axis .tick line {
  stroke: rgba(0, 0, 0, 0.1);
}

.area {
  stroke-width: 1;
}

.area.outer,
.legend .outer {
  fill: rgba(230, 230, 255, 0.8);
  stroke: rgba(216, 216, 255, 0.8);
}

.area.inner,
.legend .inner {
  fill: rgba(127, 127, 255, 0.8);
  stroke: rgba(96, 96, 255, 0.8);
}

.normal-line,
.legend .normal-line {
  fill: none;
  stroke: #000;
  stroke-width: 3;
}

.normal-line.red,
.legend .normal-line.red {
  /*stroke: rgb(255, 0, 0);*/
  stroke: #333
}

.legend .legend-bg {
  fill: rgba(0, 0, 0, 0.5);
  stroke: rgba(0, 0, 0, 0.5);
}

.marker.client .marker-bg,
.marker.client path {
  fill: rgba(255, 127, 0, 0.8);
  stroke: rgba(255, 127, 0, 0.8);
  stroke-width: 3;
}

.marker.server .marker-bg,
.marker.server path {
  fill: rgba(0, 153, 51, 0.8);
  stroke: rgba(0, 153, 51, 0.8);
  stroke-width: 3;
}

.marker path {
  fill: none;
}

.legend text,
.marker text {
  fill: #fff;
  font-weight: bold;
}

.marker text {
  text-anchor: middle;
}

#map {
  height: 900px;
  width: 900px;
}

#heatmap {
  height: 900px;
  width: 1420px;
}

body {
  background: rgb(235, 235, 235);
}

.root-container {
  background: #fff;
  position: relative;
  display: block;
  height: 100%;
  width: 1440px;
  box-sizing: border-box;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  margin: auto;
  border-radius: 5px;
  width: 1440px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #547c54;
  color: white;
}